html {
    background-color: #eeeeee;
}

#link-1:link,
#link-1:visited {
    color: #00adb5;
    background-color: transparent;
    text-decoration: underline;
}

#title {
    justify-content: center;
    display: flex;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 42px;
    color: #222831;
}

#subtitle-1 {
    justify-content: center;
    display: flex;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: oblique;
    font-size: 16px;
    color: #393e46;
    margin-bottom: 3%;
}

#details-title-1 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#details-1 {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#history-title-1 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#history-1 {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#tools-1 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 0;
    text-align: center;
}

#list-1 {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0;
}

#resources-1 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 20px;
    text-align: center;
}

#images-title-1 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 20px;
    text-align: center;
}

#image-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -20vh;
    margin: 0;
}

.image {
    width: 40%;
    display: block;
    margin: 10px auto;
    border: #00adb5 solid 2px;
}
